
@import 'variables.css';
@import 'tablet.css';
@import 'desk.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    
}
/*MOBIL VERSION*/
@media (min-width:330px) and (max-width: 576px){

body{ 
color: var(--blue_kea);
background-color: var(--background2);
display: flex;
flex-direction: column;
justify-content: center;

}
.lind-photo2{
    display: none;
   

}

.title-web{
    background-color:var(--blue_kea);
    height: 100px;
   padding: 10px ;
   font-size: large;
   display: flex;
   flex-direction: column;
  align-items: center;
  color: var(--yellowtext);

}


.nav-menu{
    background-color: var(--blue-nav-menu);
    font-size: flex;
    justify-items: center;
    
}
ul li a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    border-bottom: 2px solid var(--yellowtext);
    font-size: var(--font-size);
    color: var(--background);
}
.nav-menu ul li a:hover{
    background-color: var(--blue_kea);
    color: var(--yellow);
}
.btn-release{
    background-color: var(--red);
    width: 15rem;
    height: 2.5rem;
    margin: 1rem;
    border: 0;
    border-radius: var(--border-radius);
    color:var(--background);
    cursor: pointer;
}
.btn-release:hover{
    background-color: var(---green-hover);

}
.parte1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-release-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 2rem;
    background-color:var(--yellowtext);
}
h2, img {
    margin: 0.3rem;
   
}
.publishing {
 font-style: italic;
}
.img-book-prev{
    background-color: var(--background);
    padding: 0.5rem;
    border-radius: var(--border-radius);
}
.bio-quote{
    display: flex;
    flex-direction:column;
    justify-items: center;
    background-color:var(--blue-nav-menu);
   
    border-radius: var( --border-radius);
}
.bio-quote2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    font-size:var(--font-size);
    padding: 3rem;
    padding-bottom: 5px;
    align-items: center;
    font-style: italic;
    color: var(--background);
    text-align: center;
}
.bio-quote3{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 5px;
    padding-bottom: 10px;
    margin-right: 20px;
    font-size: var(--font-size);
    font-style: italic;
    color: var(--background);
}

.title-on-tour{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-nav-menu);
    height: 50px;
    padding: 1rem;
    justify-content: center;
}
.section-title{
    color: var(--yellow);
}

.Tristan-on-tour{
    display: flex;
    width: 450px;
  flex-flow: row nowrap;
  align-items: center;

}
.welcome2{
    display: none;
}
.welcome1{
    display:none;
}
.photo_2_welcome{
    display: none;
}
/*EVENTS ON TOURS*/

.events2{
    display: flex;
    flex-direction: column;
    margin:1rem;
    padding: 1rem;
    font-size: var(--font-size);
}
.microphone-event{
    display: flex;
    flex-direction:row;
    align-items: start;
    font-size: var(--font-size);

}
.microphone-img{
    margin-left:0;
}
.event-name{
    color:var(--yellow);
}

.events{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--blue_kea);
    margin:1rem;
    padding: 1rem;
    font-size: var(--font-size);
}
.microphone-event{
    display: flex;
    flex-direction:row;
    align-items: start;
    font-size: var(--font-size);

}
.microphone-img{
    margin-left:0;
}
.event-name{
    color:var(--yellow);
}
.up-arrow{
    display: flex;
    flex-direction: row;
 justify-content: end;
 cursor: pointer;

}

.events_description{
    display: flex;
    flex-direction: column;
    margin:1rem;
    padding: 1rem;
    font-size: var(--font-size);
}
.events4{
    display: flex;
    flex-direction:row-reverse;
    margin-bottom:3rem;
    padding: 10px;
    font-size: var(--font-size);
    justify-content: center;
    margin-bottom: 1rem;
    flex-wrap: nowrap;
}  
.events_text{
    padding-left: 0px;
    margin-left: 0px;
}
.img-book{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-bottom: 1rem;
}

.conference-img{
    display: none;
}
.victoria-img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.employee a{
    text-decoration: none;
}
.form-booking{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    padding: 0rem;
}
#booking{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
fieldset{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 1rem;
    padding: 1rem;
    border-radius: var(--border-radius);
    border: 2px solid var(--blue-nav-menu);
}
legend{
    margin: 1rem;

}
input{
    width: 250px;
    border-radius: var(--border-radius-input);
    margin: 0;
   border: 2px solid var(--blue-nav-menu);
   outline: none;
  
}
textarea{
    resize: none;
    border: 2px solid var(--blue-nav-menu);
    border-radius: var(--border-radius-input);
    outline: none;
}
.btn-summit{
    width: 50px;
    height: 20px;
    padding: 0.3rem;
    margin-left: 6rem;
    margin-top: 1rem;
    cursor: pointer;
    border: 2px solid var(--blue-nav-menu);
    border-radius: var(--border-radius-input);
}
footer{
    color: var(--background);
    background-color: var(--blue_kea);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.kea_footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: space-around;
   padding-inline: 5rem;
}

.some{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}
.sm-logos{
    border-radius: 50%;

}
.policy{
  margin-bottom: 1rem;

}
#footer1{
    margin: 1rem;
    display: flex;
    flex-direction:column;
    align-items: center;
}
a{
    text-decoration: none;
    color: var(--yellow);
}
.kea-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: var(--yellow);

}



}